.page-header {
    border-bottom: 1px solid #ececec;
}
.container.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.site-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}
.info-link {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: auto;
}
.site-nav__link {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
    
    &:hover,
    &:focus {
            color: var(--blue-color);
        }
}
.site-nav__link.current {
    color: var(--blue-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
}

.info-link a {
    color: var(--grey-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    fill: var(--grey-text-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);

    &:hover,
    &:focus {
        color: var(--blue-color);
        fill: var(--blue-color);
        }
}


/* маленька іконка перед контактами */
.info-link__icon {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    position: relative;
    top: 1px;
}

/* нижня риска на хедері */
.site-nav a {
    position: relative;
}

.site-nav__link.current::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
    background-color: #2196f3;
    border-radius: 2px;
    transform: scaleX(1.08);
}