.catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: flex-start;
    }
.card__heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-decoration: none;
    margin-bottom: 4px;
}
.catalog  {
    
    .card__application{
    color: var(--grey-text-color);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    text-decoration: none;
}
}
.card__description {
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
/* оверлай */
.card {
    position: relative;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);

    &:hover {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

.card__info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: var(--blue-color);
    color: var(--white-color);
    line-height: 1.55;
    font-size: 18px;
    padding-top: 63px;
    padding-bottom: 63px;
    text-align: left;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms linear, opacity 250ms ease;

    .card:hover & {
      transform: translateY(0);
      opacity: 1;
        }
}
.card__relative {
    position: relative;
    overflow: hidden;
}

.card__text__slide {
    display: block;
    text-align: left;
    max-width: 322px;
    padding-left: 24px;
}