:root {
    --black-color: #000000;
    --primary-text-color: #212121;
    --blue-color: #2196f3;
    --background-color-dark: #2f303a;
    --grey-text-color: #757575;
    --white-color: #ffffff;
    --button-background: #f5f4fa;
    --address-color: rgba(255, 255, 255, 0.6);
    --secondary-white: #f5f5f5;

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}